.gallery {
  width: 100%;
  height: 70vh;
  background-color: hsl(0, 0%, 7%);
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px 4px solid black;
}
.tit {
  font-family: "Anton SC", sans-serif;
  text-align: center;
}
