.cabecalho {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: space-between;
  font-family: "Anton SC", sans-serif;
  align-items: center;
  padding: 4px;
}
.tit {
  font-weight: 400;
  font-size: 4rem;
  color: rgb(133, 126, 113);
  text-shadow: 2px 2px black;
}
.logo {
  height: 100%;
}

.navbar ul {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  width: 40vw;
  justify-content: space-between;
}
.navbar ul li a {
  list-style-type: none;
  margin: 20%;
  font-size: 1.5rem;
  color: rgb(133, 126, 113);
  text-shadow: 2px 2px black;
  text-decoration: none;
  gap: 8px;
}
.btn-tit {
  width: 15%;
  font-family: "Anton SC", sans-serif;
  color: rgb(133, 126, 113);
  background-color: #121212;
  border: 2px solid rgb(133, 126, 113);
}
.btn-tit:hover {
  letter-spacing: 1.7px;
}
