*{
    margin: 0;
}
.principal{

    height:68vh;
    background-color: rgb(28, 39, 49);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    
}
section{
    background-color: #121212;
    margin: 15px;
}
p{
    text-align: center;
    color: rgb(218, 218, 185);
    font-size: 1.3rem;
    margin: 5px;
    padding: 12px;
}
h2{
    font-size: 2.5rem;
    margin: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.562);
}
article{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px;
    padding: 12px;
    
}
.lista li{
    color: rgb(228, 210, 185);
}
